@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
:root {
  --ast-global-color-0: #000000;
  --ast-global-color-1: #000000;
  --ast-global-color-2: #000000;
  --ast-global-color-3: rgba(0,0,0,0.6);
  --ast-global-color-4: #faedeb;
  --ast-global-color-5: #FFFFFF;
  --ast-global-color-6: rgba(224,214,213,0.48);
  --ast-global-color-7: #424242;
  --ast-global-color-8: #000000;
  --spacer-size: 600px;
  --e-global-color-astglobalcolor0: #000000;
  --e-global-color-astglobalcolor1: #000000;
  --e-global-color-astglobalcolor2: #000000;
  --e-global-color-astglobalcolor3: rgba(0,0,0,0.6);
  --e-global-color-astglobalcolor4: #faedeb;
  --e-global-color-astglobalcolor5: #FFFFFF;
  --e-global-color-astglobalcolor6: rgba(224,214,213,0.48);
  --e-global-color-astglobalcolor7: #424242;
  --e-global-color-astglobalcolor8: #000000;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* The max height of card component at 1920 1080 is 632.65px 
    height of image = 554.333 = 87.62%
    img margin bottom = 10.4 = 1.64%
    height of text box = 67.927 = 10.73%
    padding left right of text box = 15.6 = 2.46%
    padding card bottom = 15.6 = 2.46%
    margin card bottom = 32.5 = 5.13%
*/
.card-div {
  display: flex;
  flex-direction: column;
}
.card-image-div{
    margin-bottom: 1.64%;
}
.card-img {
  width:  100%;
}
.card-textbox {

  font-family: inherit;
  display: flex;
  flex-direction: column;
  padding: 0 1.2em;
  text-align: left;
}
.product-title {
  color : var(--ast-global-color-2);
  font-size: 1.3846153846154rem;
}

.card-textbox a{
  text-decoration: none;
  display: inline-block;
}
.price {
  color : var(--ast-global-color-3);
  font-weight:700;
  width: 100%;
}

.product-category {
  text-transform: uppercase;
  color: var(--ast-global-color-3);
  opacity: 0.6;
  font-size: 0.85em;
}

/* Footer CSS */
.footer{
  width: 95%;
  text-align: center;
  background-color: #faedeb;
  margin-left: auto;
  margin-right: auto;
}
.subscribe h3{
  font-size: 35px;
  text-transform: capitalize;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 700;
}
.subscribeInput{
  padding: 25px;
}
.subscribeInput input{
  padding: 10px;
  font-size: 18px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  outline: none;
}
.subscribeInput .inputText{
  width: 30%;
  
}
.subscribeInput .submit-btn{
  width: 10%;
  color: white;
  background-color: black;
}
.subscribeInput .submit-btn:hover{
 color:var(--ast-global-color-6) ;
 
}
.nav-elements-list ul{
  display: flex;
  align-items: center;
 justify-content: center;
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 30px;
}
.nav-elements-list ul a{
  margin: 0 20px  0 20px;
  text-transform: capitalize;
   text-decoration: none;
   color: rgb(73, 70, 70);
}
.socail-media-handles img{
  height: auto;
  max-width: 30px;
  margin: 0px 10px 40px 10px;
  transition: 0.2s;
}
.socail-media-handles img:hover{
 transform: translateY(-5px);
 transition: 0.2s;
}
.copyright-content{
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 30px;
 
}
.copyright-content p{
  font-size: 16px;
  
}

/*HomePage -tray*/

.card-tray {
  padding: 60px 0 0;
}

.card-container {
  max-width: 1140px;
  
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tray-heading-cont {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  position: relative;
}
.widget-container {
  display: block;
}
.widget-container .text{
  color: var(--ast-global-color-3);
  line-height: 1.25em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins',sans-serif;
}

.widget-container-bg {
  padding: 0 0 30px;
  display: block;
}

.widget-container-bg h2{
  margin: 0;
  columns: var(--ast-global-color-2);
  font-size: 2.7692307692308rem;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  padding: 0;
  line-height: 1em;
  box-sizing: border-box;
}

.card-sec-row{
  display: flex;
}

ul.products {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  padding: 0;
}

.product-card {
  padding-bottom: 1.2em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  list-style: none;
}

/* CSS for Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  width: 100%;
  box-sizing: border-box;
}

header ul {
  display: flex;  
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  margin-left: 10px;
  padding: 0;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 6px;
}

#logo {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav {
  flex: 1;
}

#cart-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#cart-logo a {
  margin-left: 20px;
}

/* Carousel */
 .carousel{
 height: 80%;
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: right;
  background-color: #FAEDEB;
  margin-bottom: 50px;
 }
 .carousel-text{
  margin: auto;
  width: 500px;
 }
 .carousel-text h6{
  font-size: 13px;
  color: var(--ast-global-color-3);
  text-transform: uppercase;
  margin-bottom: 0;
 }
 .carousel-text h1{
  font-size: 55px;
  margin-top: 2px;
 }
 .carousel-button{
  
  background-color: #000000;
  padding: 15px;
  display: inline-block;
 }
 .carousel-text a{
  font-size: 15px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  letter-spacing: 1px;
 }
 .carousel-text a:hover{
  color:var(--ast-global-color-6) ;
  transition: 0.2s;
 }
 .carousel-image{
  position: relative;
  top: 0;
  left: 0;
  overflow:hidden;
  margin-right: 55px;
 }
 .carousel-image .front{
  position: relative;
  top: 50;
  left: 20;
  height: 80%;
  margin-top: 70px;
  
 }
 .carousel-image .back{
  position: absolute;
  top: 30px;
  left: 30px;
  margin-top:-60px;
  
 }
 /* Elementor section */
  
 .container-overlay{
  width: 95%;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
 }
 
 .elementor-section{
 
 width: auto;
 padding: 25%;
  background-attachment: fixed;
  background-image: url("../public/images/bg-1.jpg");
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
 }

 .elementor-container{
 
  height: 80%;
  text-align: center;
  color: white;
  width: 800px;
  padding: 25px;
 
 }
 .elementor-head h6{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 5px 5px 20px black;
 }
 .elementor-content-bold h2{
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 5px 5px 20px black;
  font-size: 36px;
 }
 .elementor-content-small h4{
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 5px 5px 20px black;
  font-size: 22px;
  margin-bottom: 40px;
 }
  
 .shop-collection-button a{
  font-size: 14px;
  text-decoration: none;
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.2s;
 }
 .shop-collection-button a:hover{
  color: var( --ast-global-color-6);
  transition: 0.2s;
 }

 /* Big Tray */

.cont {
  max-width: 1160px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.imgcont {
  text-align: center;
  width: 50%;
}

.cont-inner {
  justify-content: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.cont-inner img {
  width: inherit;
}
.img {
  padding-bottom: 25px;
}

.widget-container-big {
  padding: 0 25px 10px;

}
.widget-container-big h2{
  margin: 0;
}
.button-cont {
  width: 100%;
  justify-content: center;
}
.button-link {
  display: inline-block;
  height: inherit;
  text-decoration: none;
  background-color: var(--ast-global-color-2);
  padding: 15px;
  margin: 0;
}
.button-content-wrapper {
  text-decoration: inherit;
  justify-content: center;
  display: inline-block;
}
.button-text {
  flex-grow: 1;
  order: 10;
  display: inline-block;
  color: var(--ast-global-color-5);
}

/* 2 Cards of men and women */

#products {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;
  padding: 0;
}

#products li {
  list-style: none;
  padding: 10px;
}

#products li img {
  height: 35rem;
}

.product-button {
  position: relative;
  text-align: center;
  bottom: 55px;
  background-color: rgba(255, 255, 255, 0.827);
  padding: 10px 0;
  margin: 0 1rem;
}

.product-button:hover {
  background-color: white;
}

.product-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

/* Login Signup Page */
.top-buttons {
  /* position: relative; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
  padding: 25px;
  text-align: center;
}
.top-buttons button {
  color: #FAFAFA;
  border: none;
  width: 100px;
  margin: -2px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  background: #000000;
  cursor: pointer;
}
.top-buttons .signup-btn {
  border-radius: 50px 0 0 50px; 
}
.top-buttons .signup-btn:hover{
  background-color: #f3f2f2;
  color: #000000;
}
.top-buttons .login-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.top-buttons .login-btn:hover{
  background-color: #f3f2f2;
  color: #000000;
}
.signup-form, .login-form{
  width: 100%;
  height: 85%;
  padding: 10px 40px;
 display: flex;
 justify-content: center;
}
.signup-form form, .login-form form{
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 20px grey;
  padding: 50px 25px 50px 25px;
}
.signup-form label, .login-form label{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.signup-form input[type="text"],
input[type="email"],
input[type="password"]{
  display: block;
  border-color: var(--ast-global-color-6);
  background: #f3f2f2;
  border-radius: 2px;
  padding:12px;
  width: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
}
.signup-form input[type="submit"], .login-form input[type="submit"]{
  display: block;
  border-color: var(--ast-global-color-6);
  background: #000000;
  color:#FAFAFA;
  border-radius: 2px;
  padding:12px;
  width: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
   
}
.signup-form input[type="submit"]:hover, .login-form input[type="submit"]:hover{
  color: var(--ast-global-color-6);
}
.signup-form a, .login-form a{
  text-align: center;
  margin: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.signup-form a:hover, .login-form a:hover{
  color: var(--ast-global-color-7);
}
.login-form{
  display: flex;
}
.signup-form{
  display: flex;

}

/* Elementor 2 */
.elementor-2{
  width: 95%;
  margin: auto;
  background-image: linear-gradient(90deg,var(--e-global-color-astglobalcolor4 ) 55%,var(--e-global-color-astglobalcolor5 ) 55%);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.elementor2-body{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
   
}
.elementor2-image img{
  position:  relative;
  top: -50px;
  left: 0px;
}
.elementor2-text{
  margin-left: 150px;
  font-family: 'Poppins', sans-serif;
}
.elementor2-text .elemenotr2-text-gender h6{
  text-transform: uppercase;
  color: var(--ast-global-color-7);
  font-size: 14px;
}
.elementor2-text-boldHeading h2{
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 40px;
  color: #000000;
}
.elementor2-text-description p{
  font-size: 13px;
  color: var(--ast-global-color-7);
  letter-spacing: 0.8px;
  line-height: 22px;
  margin-bottom: 45px;
}
.elementor2-text-button a{
  text-decoration: none;
  background-color: #000000;
  color: #FAFAFA;
  font-size: 14px;
  padding: 15px 25px;
   
}
.elementor2-text-button a:hover{
  color: var(--ast-global-color-6);
  transition: 0.2s;
}

/* Men and women page */

.tray {
  /* padding: 20px; */
  width : 95%;
  margin: auto;
}

.heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading h1 {
  font-size: 55px;
}

.heading p {
  margin-top: 55px;
  font-size: 13px;
  font-weight: 100;
}

/* About */
.about-1{
 margin-bottom: 60px;
  text-align: center;
}
.elementor1{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
 
.elementor1-head h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 55px;
  font-family: 'Poppins',sans-serif;
  font-weight: 900;
  
} 
.elementor1-dash-line{
  width: 60px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  direction: ltr;
  border: 1px solid black;
}
.elementor1  h5{
  font-size: 18px;
  font-family: 'Poppins',sans-serif;
  font-weight: 900;
  margin-bottom: 25px; 
}
.elementor1 p{
  font-size: 15px;
  color: rgba(76, 76, 78, 0.6);
}

.about-2{
   display: flex;
   align-items: center;
   justify-content: center;
 
}
 
.elementor2-about{
   
  padding: 200px 150px 200px; 
   background-attachment: fixed;
   background-image: url("../public/images/about page.jpg");
   background-position: center center;
     background-repeat: no-repeat;
     background-size:   cover; 
     display: flex;
     justify-content: center;
     font-family: 'Poppins',sans-serif;
     color: white;
  opacity: 0.9;  
  width: 95%; 
}
 
.elementor2-image-content-1{
  padding-right:90px ;
  width: 50%;
}

.elementor2-image-content-1 h6{
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}
.elementor2-image-content-1 h2{
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.elementor2-image-content-2{
  width:50%;
  
}
.elementor2-image-content-2 h4{
  font-weight: 600;
  letter-spacing: 1px;
}
.about-3{
  margin-top: 75px;
  margin-bottom: 100px;
}
.elementor3-about{
  text-align: center;
  font-family: 'Poppins',sans-serif;

}
.head-sub{
  text-align: center;
}
.elementor3-head h2{
  font-size: 36;
  font-weight: 600;
  margin-bottom: 15px;
}
.elementor3-sub-head{
   width: 600px;
  margin-left: auto;
  margin-right: auto;
color:#9a9aa2;
margin-bottom: 35px;
}
.elementor3-dash-line{
  width: 60px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 15px;
  direction: ltr;
  border: 1px solid black;
}
.elementor3-sub-container{
   display: flex; 
   background: #FAEDEB;
   width: 1150px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;
   height: fit-content;
}
.container-text{
  width: 580px;
  padding: 60px;
  text-align:left;
}
.container-text h3{
  font-size: 32px;
  font-weight: 600;
}
.container-text h5{
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-text p{
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
}

.container-image{
  background: url("../public/images/about-01.jpg");
  height: 490px;
  background-repeat: no-repeat;
  background-position: center;
  width: 580px;
  /* margin-left: auto; */
}

/* PRODUCT DESCRIPTION */
.product-description-component{
   
  display: flex; 
  justify-content: space-between;  
 
}
.product-image-color-option{
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.product-desc-gallary-main-image img{
  height: 700px;
}
.product-desc-gallary-main-image img:hover{
  transform: scale(1.4);
  overflow: hidden;
}
.product-desc-gallary-main-image{
  overflow: hidden;
}
.product-image-color-option img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-product-description{
  width: 550px;
  margin-left: auto;
  margin-right: 50px;
}
.right-product-description{
  width: 550px;
  margin-left: 50px;
  margin-right: auto;
}
.single-product-category a{
  color: var(--ast-global-color-3);
  text-transform: uppercase;

}
.product_title {
  color: var(--ast-global-color-2);
  font-weight: 600;
}
.woocommerce-Price-currencySymbol{
  color: var(--ast-global-color-2);
  font-size: 22px;
  font-weight: 800;
}
.particular-product-desc p{
  color: var(--ast-global-color-3);
  box-sizing: inherit;
}
.color p{
  color: var(--ast-global-color-3);
  font-weight: 800;
}
.color-option button{
  padding: 4px 12px;
  margin-right: 10px;
  background-color: #FAFAFA;
  border: 1px solid  #9a9aa2;
  color: #9a9aa2;
}
.quantity{
  margin-top: 10px;
   
}
.quantity button{
  padding: 5px;
  margin: 4px;
  margin-top: 2px;
  width: 30px;
  background-color: #FAFAFA;
  border: 1px solid  #9a9aa2;
  color: #9a9aa2;
}
.category-display{
  margin-top: 10px;
}
.category-display a{
  color: #000000;
  text-transform: uppercase;
}
.category-display span{
  color: var(--ast-global-color-3);
  text-transform: uppercase;
 
}
.product-addition-cart button{
  color: #FFFFFF;
  background-color: #9a9aa2;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
}
hr{
  background-color: #bab6b6;
}
.other-information-toggle button{
  margin-top: 20px;
  width: 600px;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #bab6b6;
  border-left: none;
  border-right: none;
  background-color: #FFFFFF;
}
.about-product p,span{
  color: var(--ast-global-color-3);
}
.delivery-return p{
  color: var(--ast-global-color-3);
}
.about-product h6{
  font-weight: 500px;
}
 